In [11]:
# print 0 to 20 by using range

In [1]:
for num in range(0,20):
    print (num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [20]:
 # print range 10 to 20 in List format

In [21]:
print (list(range(10, 20)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [22]:
# Print number of items in the list by using 'len'

In [25]:
Lists2= [10, 20, 14, 55, 43, 87, 76]
print ("Number of item in the List2:",len(Lists2))

Number of item in the List2: 7

In [26]:
#char

In [27]:
text = "Artificial Intelligence"
for char in text:
    print(char)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [28]:
name = input("Enter your name: ")
age = input("Enter your age: ")
profession = input("Enter your profession: ")

print("-Your Name-", name)
print("-Your Age-", age)
print("-Your Profession-", profession)

Enter your name:  Nivetha
Enter your age:  28
Enter your profession:  Engineer

-Your Name- Nivetha
-Your Age- 28
-Your Profession- Engineer

In [1]:
#Tuples

In [3]:
tup=(1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [4]:
tuple1 = (0, 1, 2, 3) 
tuple2 = ('python', 'HOPE')
tuple3 =(tuple1,tuple2)
print (tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [5]:
# print Odd Numbers in the list

In [17]:
list=(20,10,16,19,25,1,276,188) 
num=[]
for num in list:
    if (num%2==1):
        print (num, "is odd")

19 is odd
25 is odd
1 is odd

In [18]:
# print Even numbers in the list

In [19]:
lists=(20,10,16,19,25,1,276,188)
num=[]
for num in list:
    if (num%2==0):
        print (num, "is even")

20 is even
10 is even
16 is even
276 is even
188 is even